.about {
  border-top: 2px solid black;
  margin: 5rem 0;
  padding: 5rem 0rem;
}

.about-me-inner {
  width: 90vw;
  max-width: var(--laptop);
  margin: auto;
}

.about-me-inner h1 {
  font-family: clashGrotesk;
  font-size: 2rem;
  margin: 0 0 1rem 0;
}

.about-me-container {
  width: 100%;
  max-width: 50rem;
  margin: auto;
}

.about-me-container > img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}

.about-me-text-content > p {
  font-size: 1.6rem;
  font-family: gotham;
  letter-spacing: -0.5px;
  line-height: 1.4;
  margin: 0 0 2rem 0;
  color: var(--aboutMeTextColor);
}

.about-me-buttons {
  display: flex; /* Align buttons side by side */
  gap: 1rem; /* Space between buttons */
}

.about-me-text-content button {
  background-color: var(--buttonBgPrimaryColor);
  border: 1px solid black;
  border-radius: 0.3rem;
  padding: 1rem 1.5rem;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  box-shadow: 4px 3px 0rem 0rem black;
}

.about-me-text-content button svg {
  margin-right: 0.5rem; /* Adjust space between icon and text */
}

.about-me-text-content .button-margin {
  margin-right: 1rem; /* Adjust the value as needed for spacing */
}

@media screen and (min-width: 1100px) {
  .about-me-container > img {
    margin: 2rem 6rem 0 0;
    max-width: 250px;
  }

  .about-me-container {
    max-width: 100%;
    display: flex;
    align-items: center;
    margin: auto;
  }

  .about-me-text-content > p {
    max-width: 80%;
  }
}

@media screen and (min-width: 1100px) {
  .about-me-container > img {
    margin: 2rem 6rem 0 0;
    max-width: 250px;
  }
}

@media screen and (max-width: 768px) {
  .about-me-container > img {
    max-width: 150px;
    margin: 1rem auto 0;
  }
}

/* Optional: For small screens */
@media screen and (max-width: 480px) {
  .about-me-container > img {
    max-width: 120px;
    margin: 1rem auto 0;
  }
}

/* hover effects */
.about-me-text-content > a button:hover {
  box-shadow: 3.5px 3.5px 0rem 0rem black;
  transform: translate(-0.2rem, -0.2rem);
  -webkit-transform: translate(-0.2rem, -0.2rem);
  -moz-transform: translate(-0.2rem, -0.2rem);
  -ms-transform: translate(-0.2rem, -0.2rem);
  -o-transform: translate(-0.2rem, -0.2rem);
}

.about-me-text-content > a button:active {
  transform: translate(0.4rem, 0.4rem);
  box-shadow: 1px 1px 0rem 0rem black;
  -webkit-transform: translate(0.4rem, 0.4rem);
  -moz-transform: translate(0.4rem, 0.4rem);
  -ms-transform: translate(0.4rem, 0.4rem);
  -o-transform: translate(0.4rem, 0.4rem);
}
